.header {
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
  text-align: center;
  background-image: url('../img/language.jpg');
  background-repeat: no-repeat;
  height: 150px; 
} 


  /* Container for flexboxes */
  .row {
    justify-content: center;
    display: -webkit-flex;
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 30px;
    /* height: 300px; Should be removed. Only for demonstration */
  }
  
  





/* Styles for the text area boxes */
textarea {
    text-align: left;
    /* font-size: .8rem; */
    letter-spacing: 1px;
}


textarea {
    padding: 10px;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-bottom: 10px;
}
